/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*http://coolors.co/app/ed6a5a-f4f1bb-9bc1bc-5ca4a9-e6ebe0*/

.navbar-default {
	background-color: #ED6A5A;
	border: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #999;
}
.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 20px;
}